<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/explore.css">
    <link rel="stylesheet" href="../static/css/new_index.css">
    <script src="../static/js/analytics.js"></script>
    <script src="../static/js/modernizr.js" type="application/javascript"></script>
    <script src="../static/js/mootools.js" type="text/javascript"></script>
    <script src="../static/js/pack.js" type="text/javascript"></script>
    <script src="../static/js/revisions.js" type="text/javascript"></script>
    <script src="../static/js/views_base.js" type="text/javascript"></script>
    <script src="../static/js/views_dialog.js" type="text/javascript"></script>
    <script src="../static/js/views_dialog_box.js" type="text/javascript"></script>
    <script src="../static/js/gt.js"></script>
    <script src="../static/js/publishertag.js"></script>
    <script charset="UTF-8" id="gt_lib" src="../static/js/geetest.5.10.10.js"></script>
    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
    }
    </style>

    <title>花瓣网__我在模仿</title>
</head>
<body>
    <div class="page-min-width" id="page" style="display: block">
        <div class="head-box">
            <div class="banner-background" style="background-image:url(../static/images/huaban_gj.jpg); opacity: 1;"></div>
            <div class="mask"></div>
            <div class="new-banner">
                <div class="title"></div>
                <div class="search-box">
                    <!-- 这个是get方法.我没有写-->
                    <form method='get' action="javascript:" class="new-searching-unit"  data-regestered="regestered">
                        <input type="text" id="category_query" size="27" name="q" autocomplete="off" placeholder="搜索你喜欢的" value="">
                        <a href="javascript:" class="go" onclick="return false"></a>
                    </form>
                    <div class="search-hint"></div>
                    <div class="hot-words">
                        <span>热门搜索:</span>
                        <a href="javascript:">填问卷抽奖</a>
                        <span>,</span>
                        <a href="javascript:">配色</a>
                        <span>,</span>
                        <a href="javascript:">不知道</a>
                        <span>,</span>
                        <a href="javascript:">瞎写的</a>
                        <span>,</span>
                        <a href="javascript:">壁纸</a>
                    </div>
                </div>
                <div class="author">
                    <div class="wrapper wrapper-996">
                        <span>图片:</span>
                        <a href="javascript:" rel="nofollow">☆张小颠儿★</a>
                    </div>
                </div>
            </div>
            <!--<div id="top_promotion" style="display:block">-->
                <!--<a href="http://www.zigeer.com?from=28" target="_blank" data-ad-title="活动" data-ad-name="_tp-e640396ff45008c85bf75b467e69ce0ac3cf11c12307d9" style="background-image: url(&quot;//hbfile.b0.upaiyun.com/img/promotion/e640396ff45008c85bf75b467e69ce0ac3cf11c12307d9&quot;); display: block; height: 60px;" rel="nofollow" class="inner"></a>-->
                <!--<div class="close"></div>-->
            <!--</div>-->
            <div id="header" class="nologin-index hts" style="left: 0px">
                <div class="wrapper wrapper-996">
                    <div class="menu-bar">
                        <div class="left-part">
                            <a href="javascript:" id="huaban"></a>
                            <a href="javascript:" class="header-item active">发现</a>
                            <a href="javascript:" class="header-item ">最新</a>
                            <a href="javascript:" class="header-item meisi">美思</a>
                            <a href="javascript:" rel="nofollow" class="header-item meisi">活动<i class="muse entrance"></i></a>
                            <a href="javascript:" target="_blank" class="header-item">教育</a>
                            <div class="menu-nav">
                                <div class="header-main-menu" style="display: none">
                                    <div class="top-module">
                                        <a href="javascript:" rel="nofollow" class="text app-link">移动应用</a>
                                        <a href="javascript:" rel="nofollow" class="text app-link">采集工具</a>
                                    </div>
                                    <div class="middle-module clearfix" id="category_more" >
                                        <div class="col-1 col">
                                            <a href="javascript:" rel="nofollow" data-id="web_app_icon" class="category-link">UI/UX</a>
                                            <a href="javascript:" rel="nofollow" data-id="design" class="category-link">平面</a>
                                            <a href="javascript:" rel="nofollow" data-id="illustration" class="category-link">插画/漫画</a>
                                            <a href="javascript:" rel="nofollow" data-id="home" class="category-link">家居/家装</a>
                                            <a href="javascript:" rel="nofollow" data-id="apparel" class="category-link">女装/搭配</a>
                                        </div>
                                        <div class="col-2 col">
                                            <a href="javascript:" rel="nofollow" data-id="men" class="category-link">男士/风尚</a>
                                            <a href="javascript:" rel="nofollow" data-id="wedding_events" class="category-link">婚礼</a>
                                            <a href="javascript:" rel="nofollow" data-id="industrial_design" class="category-link">工业设计</a>
                                            <a href="javascript:" rel="nofollow" data-id="photography" class="category-link">摄影</a>
                                            <a href="javascript:" rel="nofollow" data-id="more" class="all-categories-link category-link">兴趣/生活 »</a>
                                        </div>
                                    </div>
                                    <div class="bottom-module clearfix">
                                        <div icon='pin-icon' onclick="return false" class="to-side"></div>
                                        <div class="links">
                                            <a href="javascript:">关于</a>
                                            <span>.</span>
                                            <a href="javascript:">反馈</a>
                                            <span>.</span>
                                            <a href="javascript:" style="margin-right: 0px;">博客</a>
                                        </div>
                                        <div class="up-arrow"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-part">
                            <a href="javascript:" class="go-mobile btn rbtn" style="display: none" onclick="return false">
                                <span class="text">访问移动版</span>
                            </a>
                            <div class="login-nav">
                                <a href="javascript:" class="register btn rbtn" onclick="app.requireLogin();return false;"rel="nofollow">
                                    <span class="text">注册</span>
                                </a>
                                <a href="javascript:" class="login btn wbtn" onclick="app.requireLogin('', {to: 'login'});return false;" rel="nofollow">
                                    <span class="text">登录</span>
                                </a>
                            </div>
                        </div>
                        <form action="#" class="searching-unit" id="search_form" method="get" data-regestered="regestered">
                            <input type="text" size="27" name="q" autocomplete="off" placeholder="搜索你喜欢的" value=" ">
                            <a href="javascript:" class="go" onclick="return false"></a>
                        </form>
                        <div class="search-hint"></div>
                    </div>
                </div>
            </div>
            <div id="header_side_menu">
                <div class="nav pinned">
                    <a onclick="app.switchHeaderTo('normal')" title="解除锁定" rel="nofollow" class="nav-link"><i></i></a>
                </div>
                <div class="nav explore active">
                    <a href="javascript:" data-title="发现" rel="nofollow" class="nav-link"><i></i></a>
                </div>
                <div class="nav all">
                    <a href="javascript:" data-title="最新" rel="nofollow" class="nav-link"><i></i></a>
                </div>
                <div class="nav more">
                    <a class="nav-link">
                        <div class="arrow"></div>
                        <i></i>
                    </a>
                </div>
                <div class="nav info">
                    <div class="arrow"></div>
                    <i></i>
                </div>
                <div class="menu more-links nologin">
                    <a href="javascript:" rel="nofollow" class="text app-link">移动应用</a>
                    <a href="javascript:" rel="nofollow" class="text app-link">采集工具</a>
                    <a href="javascript:" rel="nofollow" class="text pin-link">活动</a>
                </div>
                <div class="middle-module clearfix">
                    <div class="col-1 col">
                        <a href="javascript:" rel="nofollow" class="category-link">UI/UX</a>
                        <a href="javascript:" rel="nofollow" class="category-link">平面</a>
                        <a href="javascript:" rel="nofollow" class="category-link">插画/漫画</a>
                        <a href="javascript:" rel="nofollow" class="category-link">家居/家装</a>
                        <a href="javascript:" rel="nofollow" class="category-link">女装/搭配</a>
                    </div>
                    <div class="col-2 col">
                        <a href="javascript:" rel="nofollow" class="category-link">男士/风尚</a>
                        <a href="javascript:" rel="nofollow" class="category-link">婚礼</a>
                        <a href="javascript:" rel="nofollow" class="category-link">工业设计</a>
                        <a href="javascript:" rel="nofollow" class="category-link">摄影</a>
                        <a href="javascript:" rel="nofollow" class="category-link">兴趣/生活</a>
                    </div>
                </div>
                <div class="pointer"></div>
                <div class="menu info-links">
                    <a href="javascript:" rel="nofollow">关于</a>
                    <a href="javascript:" rel="nofollow">反馈</a>
                    <a href="javascript:" rel="nofollow">博客</a>
                    <div class="pointer"></div>
                </div>
            </div>
        </div>
        <div class="wrapper-996 wrapper">
            <div class="recommend-line">
                <a href="javascript:">大家正在关注</a>
            </div>
            <div class="category-image-box explore-category-image-box login-explore-category-image-box">
                <a href="javascript:" class="category-image login-category-image" target="_self">
                    <div class="blur">
                        <img src="//img.hb.aicdn.com/f610a449500b5296067753e946c0063fb18cbf692438b-s6I0XD_sq236bl4" alt="" data-baiduimageplus-ignore="1">
                    </div>
                    <div class="title">手</div>
                </a>
                <a href="javascript:" class="category-image login-category-image" target="_self">
                    <div class="blur">
                        <img src="//img.hb.aicdn.com/13ac6f76df1dd3ea8df376a36a40cd27924e82511352c-GbXTum_sq236bl4" alt="" data-baiduimageplus-ignore="1">
                    </div>
                    <div class="title">橡皮章</div>
                </a>
                <a href="javascript:" class="category-image login-category-image" target="_self">
                    <div class="blur">
                        <img src="//img.hb.aicdn.com/8bfa82c618ab57764e57a2e802948b96a540bea117f76-Ue9RDK_sq236bl4" alt="" data-baiduimageplus-ignore="1">
                    </div>
                    <div class="title">手绘石头</div>
                </a>
                <a href="javascript:" class="category-image login-category-image" target="_self">
                    <div class="blur">
                        <img src="//img.hb.aicdn.com/e9c4265997abef853388d3c684bd614e3a3d285b19f3b-9x8wGP_sq236bl4" alt="" data-baiduimageplus-ignore="1">
                    </div>
                    <div class="title">路</div>
                </a>
                <a href="javascript:" class="category-image login-category-image" target="_self">
                    <div class="blur">
                        <img src="//img.hb.aicdn.com/e91c40ed13818bde5bee4451e3e89e502e7915f22ee8-1v3HXO_sq236bl4" alt="" data-baiduimageplus-ignore="1">
                    </div>
                    <div class="title">简笔画</div>
                </a>
                <a href="javascript:" class="category-image login-category-image" target="_self">
                    <div class="blur">
                        <img src="//img.hb.aicdn.com/da7cd744e99b4e5fc60f40b746df9ae415b15c60f4782-HHsnYZ_sq236bl4" alt="" data-baiduimageplus-ignore="1">
                    </div>
                    <div class="title">古建筑摄影</div>
                </a>
                <a href="javascript:" class="category-image login-category-image" target="_self">
                    <div class="blur">
                        <img src="//img.hb.aicdn.com/af5b452f05bb6eab7408c57dad8a6659bac7fb6d5c80f-rIUlZd_sq236bl4" alt="" data-baiduimageplus-ignore="1">
                    </div>
                    <div class="title">三明治</div>
                </a>
            </div>
            <div class="recommend-line">
                <a href="javascript:">为您推荐</a>
            </div>
            <div  id="recommend_container" class="recommend-container-row">
                <div id="1" class="recommend-container-row clearfix">
                    <!-- 这里有问题 没有imgbox  我得找找在这个属性在哪个的文件里面 -->
                    <div class="recommend-imgbox recommend-box">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/598de9e3c01d0b6e0cfea639f0ede9d6a93fe8f510204-E7kJNi_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <div class="recommend-imgbox board small">
                            <div class="recommend-data board"></div>
                            <h2><a href="javascript:">手机app页面</a></h2>
                            <p>
                                <span>913采集</span>
                                <span>82粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">UI_halo</a>
                            </span>
                        </div>
                        <div class="info-tra-left"></div>
                        <div class="recommend-imgbox board small pl-right">
                            <div class="recommend-data board"></div>
                            <h2>
                                <a href="javascript:">我们去抬春天,好吗?</a>
                            </h2>
                            <p>
                                <span>9 采集</span>
                                <span>158 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">佐木樱子</a>
                            </span>
                        </div>
                        <div class="info-tra-right"></div>
                    </div>
                    <div class="recommend-imgbox recommend-box ">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/4ae82162782daa85442be711bfd8ddee488b339d26991-vbHRmV_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                    </div>
                    <div class="recommend-imgbox recommend-hidebox pl-right">
                        <div class="recommend-imgbox recommend-box">
                            <a href="javascript:">
                                <img src="//img.hb.aicdn.com/e93219ce94bca787410550601eb447a6221a937394885-tRT8u0_sq320" alt="" data-baiduimageplus-ignore="1">
                            </a>
                        </div>
                        <div class="recommend-infobox board recommend-box big">
                            <div class="recommend-data board"></div>
                            <h2>
                                <a href="javascript:">美食果蔬</a>
                            </h2>
                            <p>
                                <span>1208 采集</span>
                                <span>166 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">阿晓学长</a>
                            </span>
                            <div class="info-tra-left big"></div>
                        </div>
                    </div>
                </div>
                <div id="2" class="recommend-container-row clearfix">
                    <div class="recommend-imgbox recommend-hidebox pl-right">
                        <div class="recommend-imgbox recommend-box">
                            <a href="javascript:">
                                <img src="//img.hb.aicdn.com/0dd8a7c2923e9de8b038c738ec278f3f62b730c06f19-AWBwZR_sq320" alt="" data-baiduimageplus-ignore="1">
                            </a>
                        </div>
                        <div class="recommend-infobox board recommend-box big">
                            <div class="recommend-data board"></div>
                            <h2>
                                <a href="javascript:">野生设计师(个人原创)</a>
                            </h2>
                            <p>
                                <span>1208 采集</span>
                                <span>166 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">DELANDY</a>
                            </span>
                            <div class="info-tra-left big"></div>
                        </div>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/da0f479e868001bed441eb1faf4f55324a6c443be7169-Adxjeh_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <div class="recommend-infobox board small">
                            <div class="recommend-data board"></div>
                            <h2><a href="javascript:">你说你没有照片</a></h2>
                            <p>
                                <span>913采集</span>
                                <span>82粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">洪七公</a>
                            </span>
                        </div>
                        <div class="info-tra-left"></div>
                        <div class="recommend-infobox board small pl-right">
                            <div class="recommend-data board"></div>
                            <h2>
                                <a href="javascript:">Line．烟沉梦</a>
                            </h2>
                            <p>
                                <span>9 采集</span>
                                <span>158 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">木尘Line</a>
                            </span>
                        </div>
                        <div class="info-tra-right"></div>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/0452ce20cc84f52fb55629d04d5e623c1a1923c93b359-0bIW02_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                    </div>
                </div>
                <div id="3" class="recommend-container-row clearfix">
                    <div class="recommend-imgbox recommend-box">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/f0ce1c4d1b7c5cade01f98b4cd29d60c33121d9d12750-tdna59_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                        <a style="background:url(//img.hb.aicdn.com/f0ce1c4d1b7c5cade01f98b4cd29d60c33121d9d12750-tdna59_sq308bl20) no-repeat" class="avt-bg" title=""></a>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <div class="recommend-infobox board small">
                            <div class="recommend-data board"></div>
                            <h2><a href="javascript:">potatooooo</a></h2>
                            <p>
                                <span>913采集</span>
                                <span>82粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">信</a>
                            </span>
                        </div>
                        <div class="info-tra-left"></div>
                        <div class="recommend-infobox board small pl-right">
                            <div class="recommend-data Board"></div>
                            <h2>
                                <a href="javascript:">信</a>
                            </h2>
                            <p>
                                <span>9 采集</span>
                                <span>158 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow"></a>
                            </span>
                        </div>
                        <div class="info-tra-right"></div>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/871c447484a98f332042c34678f1792bd5b9202776e0-JdkMuu_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                    </div>
                    <div class="recommend-imgbox recommend-hidebox pl-right">
                        <div class="recommend-imgbox recommend-box">
                            <a href="javascript:">
                                <img src="//img.hb.aicdn.com/f723a7d00650dfd3db8cf0798c4b4c1bb394bb3e5cf31-IIvzp7_sq320" alt="" data-baiduimageplus-ignore="1">
                            </a>
                        </div>
                        <div class="recommend-infobox board recommend-box big">
                            <div class="recommend-data board"></div>
                            <h2>
                                <a href="javascript:">手</a>
                            </h2>
                            <p>
                                <span>1208 采集</span>
                                <span>166 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow"></a>
                            </span>
                            <div class="info-tra-left big"></div>
                        </div>
                    </div>
                </div>
                <div id="4" class="recommend-container-row clearfix">
                    <div class="recommend-imgbox recommend-hidebox pl-right">
                        <div class="recommend-imgbox recommend-box">
                            <a href="javascript:">
                                <img src="//img.hb.aicdn.com/39d90667a9b71311107e9d2daec54026909f17211637a-PKtuKm_sq320" alt="" data-baiduimageplus-ignore="1">
                            </a>
                        </div>
                        <div class="recommend-infobox board recommend-box big">
                            <div class="recommend-data board"></div>
                            <h2>
                                <a href="javascript:">汽车</a>
                            </h2>
                            <p>
                                <span>1208 采集</span>
                                <span>166 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">耳骚</a>
                            </span>
                            <div class="info-tra-left big"></div>
                        </div>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/d2e4f6c0ab0e0f822cd745e1e8d879c9ed6501203032b-pwMesf_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <div class="recommend-infobox board small">
                            <div class="recommend-data board"></div>
                            <h2><a href="javascript:">Line．长情路</a></h2>
                            <p>
                                <span>913采集</span>
                                <span>82粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow"></a>
                            </span>
                        </div>
                        <div class="info-tra-left"></div>
                        <div class="recommend-infobox Board small pl-right">
                            <div class="recommend-data Board"></div>
                            <h2>
                                <a href="javascript:">小7君日常</a>
                            </h2>
                            <p>
                                <span>9 采集</span>
                                <span>158 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">sevenqiuqiu</a>
                            </span>
                        </div>
                        <div class="info-tra-right"></div>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/d9ccd7caeb7e810af71857ebaad127b632859a6d1d393-dhecNo_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                    </div>
                </div>
                <div id="5" class="recommend-container-row clearfix">
                    <div class="recommend-imgbox recommend-box">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/510c0b7dd8b09f4a0c1fe0db4e063589ce8b270a38688-I8dPM2_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <div class="recommend-infobox board small">
                            <div class="recommend-data board"></div>
                            <h2><a href="javascript:">初见惊艳，再见依然。</a></h2>
                            <p>
                                <span>913采集</span>
                                <span>82粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">彼岸·三生来世</a>
                            </span>
                        </div>
                        <div class="info-tra-left"></div>
                        <div class="recommend-infobox board small pl-right">
                            <div class="recommend-data board"></div>
                            <h2>
                                <a href="javascript:">夏日物语</a>
                            </h2>
                            <p>
                                <span>9 采集</span>
                                <span>158 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">ms姜毛赛</a>
                            </span>
                        </div>
                        <div class="info-tra-right"></div>
                    </div>
                    <div class="recommend-imgbox recommend-box">
                        <a href="javascript:"><img src="//img.hb.aicdn.com/4a964dc93793b73670141554e6a01f1475fa9c54d3fcb-5bQp8j_sq320" alt="" data-baiduimageplus-ignore="1"></a>
                    </div>
                    <div class="recommend-imgbox recommend-hidebox pl-right">
                        <div class="recommend-imgbox recommend-box">
                            <a href="javascript:">
                                <img src="//img.hb.aicdn.com/44298187a995db6c22e8c5df69608a9bb919806f14b42-T2Vjqr_sq320" alt="" data-baiduimageplus-ignore="1">
                            </a>
                        </div>
                        <div class="recommend-infobox board recommend-box big">
                            <div class="recommend-data board"></div>
                            <h2>
                                <a href="javascript:">cosplay</a>
                            </h2>
                            <p>
                                <span>1208 采集</span>
                                <span>166 粉丝</span>
                            </p>
                            <span>
                                来自
                                <a href="javascript:" rel="nofollow">御纸</a>
                            </span>
                            <div class="info-tra-left big"></div>
                        </div>
                    </div>
                </div>

            </div>

                <!--加载更多-->
            <div class="get-more-line">
                <a>加载更多</a>
            </div>
            <div class="new-index-category">
                <div class="new-index-category-head clearfix">
                    <div class="title">
                        <span>以分类浏览花瓣</span>
                    </div>
                    <div class="all-pins">
                        <a href="javascript:">所有采集»</a>
                    </div>
                </div>
                <div class="new-index-category-body">
                    <ul class="new-index-category-group">
                        <li class="new-index-category-item"><a>UI/UX</a></li>
                        <li class="new-index-category-item"><a>平面</a></li>
                        <li class="new-index-category-item"><a>插画/漫画</a></li>
                        <li class="new-index-category-item"><a>家居/家装</a></li>
                        <li class="new-index-category-item"><a>女装/搭配</a></li>
                        <li class="new-index-category-item"><a>男士/风尚</a></li>
                        <li class="new-index-category-item"><a>婚礼</a></li>
                    </ul>
                    <ul class="new-index-category-group">
                        <li class="new-index-category-item"><a>工业设计</a></li>
                        <li class="new-index-category-item"><a>摄影</a></li>
                        <li class="new-index-category-item"><a>造型/美妆</a></li>
                        <li class="new-index-category-item"><a>美食</a></li>
                        <li class="new-index-category-item"><a>旅行</a></li>
                        <li class="new-index-category-item"><a>手工/布艺</a></li>
                        <li class="new-index-category-item"><a>健身/舞蹈</a></li>
                    </ul>
                    <ul class="new-index-category-group">
                        <li class="new-index-category-item"><a>儿童</a></li>
                        <li class="new-index-category-item"><a>宠物</a></li>
                        <li class="new-index-category-item"><a>美图</a></li>
                        <li class="new-index-category-item"><a>明显</a></li>
                        <li class="new-index-category-item"><a>美女</a></li>
                        <li class="new-index-category-item"><a>礼物</a></li>
                        <li class="new-index-category-item"><a>极客</a></li>
                    </ul>
                    <ul class="new-index-category-group">
                        <li class="new-index-category-item"><a>动漫</a></li>
                        <li class="new-index-category-item"><a>建筑设计</a></li>
                        <li class="new-index-category-item"><a>人文艺术</a></li>
                        <li class="new-index-category-item"><a>数据图</a></li>
                        <li class="new-index-category-item"><a>游戏</a></li>
                        <li class="new-index-category-item"><a>汽车/摩托</a></li>
                        <li class="new-index-category-item"><a>电影/图书</a></li>
                    </ul>
                    <ul class="new-index-category-group">
                        <li class="new-index-category-item"><a>生活百科</a></li>
                        <li class="new-index-category-item"><a>教育</a></li>
                        <li class="new-index-category-item"><a>运动</a></li>
                        <li class="new-index-category-item"><a>搞笑</a></li>
                        <!--<li class="new-index-category-item"><a>女装/搭配</a></li>-->
                        <!--<li class="new-index-category-item"><a>男士/风尚</a></li>-->
                        <!--<li class="new-index-category-item"><a>婚礼</a></li>-->
                    </ul>

                </div>
            </div>
    </div>
        <div id="index_footer">
            <div class="wrapper wrapper-996">
                <div class="column">
                    <a href="javascript:" class="title">联系与合作</a>
                    <a href="javascript:" rel="nofollow">联系我们</a>
                    <a href="javascript:" rel="nofollow">用户反馈</a>
                    <a href="javascript:" rel="nofollow">花瓣 LOGO 复制品文档</a>
                </div>
                <div class="colum">
                    <a href="javascript:" class="title">移动客户端</a>
                    <a href="javascript:" rel="nofollow">花瓣 iPhone 版</a>
                    <a href="javascript:" rel="nofollow">花瓣 Android 版</a>
                    <a href="javascript:" rel="nofollow">花瓣 HD</a>
                </div>
                <div class="colum follow-us">
                    <a href="javascript:" class="title">关注我们</a>
                    <a href="javascript:" rel="nofollow">新浪微博：@花瓣网</a>
                    <a href="javascript:" rel="nofollow">官方 QQ：188126952</a>

                </div>
            </div>
            <div class="wrapper wrapper-996 bottom">
                © Huaban 杭州纬聚网络有限公司
                <span class="divider">|</span>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602001878">浙公网安备 33010602001878号</a>
            </div>
        </div>
    <div class="clear"></div>
    <div id="page_overlay" style="display: none;" class="overlay"></div>
    <div class="elevator-item" id="elevator_item">
        <a href="javascript:" id="elevator" class="" onclick="return false" title="回到顶部"></a>
        <a href="javascript:" class="plus"></a>
        <div class="group">
            <a href="javascript:" onclick="app.showUploadDialog();">
                添加采集<i class="upload"></i>
            </a>
            <a href="javascript:" onclick="app.showUploadDialog();">
                添加画板<i class="upload"></i>
            </a>
            <a href="javascript:" onclick="app.showUploadDialog();">
                安装采集工具<i class="upload"></i>
            </a>
        </div>
    </div>
</body>
</html>